.body-auth {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.div-auth {
  background-color: rgba(236, 230, 223, 0.9);
  /* background-color: linear-gradient( #F7F6F6, #0000); */
  /* margin: 15vh 25vw; */
  padding: 10vh 10vw;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}
