.body-auth {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.div-auth {
  background-color: rgba(236, 230, 223, 0.9);
  /* background-color: linear-gradient( #F7F6F6, #0000); */
  /* margin: 15vh 25vw; */
  padding: 10vh 10vw;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}

.error-msg {
  color: var(--color-alert);
  margin: 1vh 1vw;
}

.footer-auth, .error-msg {
  font-size: 1rem;
  font-weight: 600;
}

.footer-auth>Link {
  color: var(--color-details);
  font-size: 1rem;
  font-weight: 600;
}

.footer-auth>a:hover {
  color: var(--color-header-footer);
  font-size: 1rem;
  font-weight: 600;
}