.products-list, .itens-count {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  margin: 0 0 1vh;
  padding: 1vh 2vw;
  border-radius: 5px;
  color: var(--color-details);
  font-size: 1.5rem;
}

.new-ordered > .detailsMenu > .products-list > button {
  background-color: var(--color-white);
  height: 45px;
  width: 45px;
  border: 3px solid var(--color-details);
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.order-to-delivery {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  margin: 1vh 0 0.5vh;
  padding: 1vh 2vw;
  color: var(--color-details);
}

.order-to-delivery > button {
  background-color: var(--color-alert);
  border: none;
  border-radius: 10px;
  margin: 0.5vh 0 0.5vh 2.5vw;
  padding: 1vh 1vw;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 600;
  
}