.input-auth,
.select-register {
  margin: 1vh 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-details);
  width: 29vw;
  height: 3vh;
  color: var(--color-details);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth::placeholder {
  color: var(--color-details);
  font-size: 1rem;
  font-weight: 400;
}

.input-auth[type='submit'] {
  margin: 1vh 0;
  background-color: var(--color-header-footer);
  border: 1px solid;
  width: 15vw;
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
}

.input-auth[type='submit']:hover {
  background-color: var(--color-white);
  color: var(--color-header-footer);
}