.check {
  background-color: var(--color-white);
  margin: 3vh 0;
  border-radius: 10px;
}

.check > .header-count {
  background-color: var(--color-header-footer);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1vh 2vw;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}

.check > p {
  padding: 1vh 0.5vw;
  color: var(--color-details);
  text-align: end;
}

.check > .header-count > p > .input-order-client {
  background-color: #BC6C25;
  border: none;
  padding: 0 1vw;
  height: 3vh;
  width: 16vw;
  color: var(--color-white);
  font-size: 1.4rem;
}

.check > .header-count > p > .input-order-table {
  background-color: #BC6C25;
  border: none;
  height: 3vh;
  width: 5vw;
  color: var(--color-white);
  font-size: 1.4rem;
}

.check > .itens-count {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  margin: 3vh 0;
  padding: 1vh 1vw;
  border-radius: 5px;
  color: var(--color-details);
  font-size: 1.5rem;
}

.check > .itens-count > .counter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 3vw;
}

.check > .itens-count > .counter > button {
  background-color: var(--color-white);
  height: 45px;
  width: 45px;
  border: 3px solid var(--color-details);
  margin: 0 2vw;

  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.check > button {
  background-color: var(--color-alert);
  width: 100%;
  border: none;
  padding: 1vh 0;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.4rem;
}