.header {
  background-color: #BC6C25;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16vw;
  align-items: center;
  top: 0;
  width: 100vw;
  padding-top: 1vh;
  color: #F7F6F6;
  font-size: 1.6rem;
}

.logout {
  height: auto;
  width: 60px;
  cursor: pointer;
}

.logo-home {
  height: 120px;
  width: auto;
  cursor: pointer;
}

.container-salon {
  background-color: rgba(22,22,21,0.95);
  padding: 5vh 0 15vh;
  height: 100vh;
}

.container-salon > .details {
  margin: 0 10vw;
  border: 1px solid var(--color-details);
  padding: 2vh 5vw;
  border-radius: 10px;
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 500;
}

.container-salon > .details > summary {
  cursor: pointer;
}

.container-salon > .to-delivery {
  background-color: var(--color-alert);
}

.container-salon > .new-ordered {
  background-color: var(--color-todo);
  margin: 5vh 10vw;
}

.container-salon > .new-ordered > .detailsMenu {
  background-color: rgba(247,246,246,0.1);
  margin: 3vh 0;
  border: 2px solid var(--color-white);
  padding: 0 2vw;
  border-radius: 10px;
}

.container-salon > .new-ordered > .detailsMenu > summary {
  margin: 2vh 0;
  cursor: pointer;
}

.container-salon > .new-ordered > .detailsMenu > .products-list {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
  margin: 0 0 1vh;
  padding: 1vh 2vw;
  border-radius: 5px;
  color: var(--color-details);
  font-size: 1.5rem;
}

.container-salon > .new-ordered > .detailsMenu > .products-list > button {
  background-color: var(--color-white);
  height: 45px;
  width: 45px;
  border: 3px solid var(--color-details);
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.container-salon > .new-ordered > .check {
  background-color: var(--color-white);
  margin: 3vh 0;
  border-radius: 10px;
}

.container-salon > .new-ordered > .check > .header-count {
  background-color: var(--color-header-footer);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 1vh 2vw;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}

.container-salon > .new-ordered > .check > p {
  padding: 1vh 0.5vw;
  color: var(--color-details);
  text-align: end;
}

.container-salon > .new-ordered > .check > .header-count > p > .input-order-client {
  background-color: #BC6C25;
  border: none;
  padding: 0 1vw;
  height: 3vh;
  width: 16vw;
  color: var(--color-white);
  font-size: 1.4rem;
}

.container-salon > .new-ordered > .check > .header-count > p > .input-order-table {
  background-color: #BC6C25;
  border: none;
  height: 3vh;
  width: 5vw;
  color: var(--color-white);
  font-size: 1.4rem;
}

.container-salon > .new-ordered > .check > button {
  background-color: var(--color-alert);
  width: 100%;
  border: none;
  padding: 1vh 0;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.4rem;
}

.container-salon > .closed {
  background-color: var(--color-conclude);
  color: var(--color-details);
}

.footer {
  background-color: var(--color-header-footer);
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  width: 100vw;
}

.footer > a {
  padding: 4vh 0;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.3rem;
  text-decoration: none;
}