/* @import url(pages/login.css); */

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Lora', serif;
}

:root {
  --color-white: #F7F6F6;
  --color-details: #161615;
  --color-alert: #C71B06;
  --color-todo: #606C38;
  --color-conclude: rgba(247,246,246,0.6);
  --color-header-footer: #BC6C25;
  /* --color-dark-blue: #03484D; */
}

#root {
  height: 100vh;
}

body {
  background-image: url(./assets/background-james-sutton.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 30vh;
  width: auto;
}