.ordered {
  background-color: var(--color-white);
  margin: 3vh 0;
  border-radius: 10px;
}

.ordered>.header-ordered {
  background-color: var(--color-header-footer);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1vh 2vw;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}

.closed, .done {
  background-color: var(--color-conclude);
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  margin: 1.5vh 1vw;
  padding: 1vh 2vw;
  border-radius: 5px;
  font-size: 1.5rem;
}

.done {
  background-color: rgba(255, 255, 255, 0.2);
}

.ordered>p {
  padding: 1vh 0.5vw;
  color: var(--color-details);
  text-align: end;
}

.ordered>.itens-ordered {
  background-color: var(--color-white);
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin: 1.5vh 3vw;
  border-radius: 5px;
  color: var(--color-details);
  font-size: 1.5rem;
  text-align: center;
}

.ordered>button {
  width: 100%;
  border: none;
  padding: 1vh 0;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  color: var(--color-white);
  font-size: 1.4rem;
}

.btn-pending {
  background-color: var(--color-todo);
}

.btn-preparing {
  background-color: var(--color-alert);
}
